body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8d041;
  }
  
  .container {
    width: 90vh;
    height: 90vh;
    box-shadow: #a61212;
    text-align: center;
    background: #b87171;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 100px;
    margin-bottom: 10px;
  }
/*   
  .description {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  } */
  
  .image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .code-image {
    width: 75vh;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #005bb5;
  }
  